## Prerequisites
Loading the pandas Library

In [2]:
import pandas as pd

## Changing the DataFrame for the INcome Indicator

Loading the original .csv File

In [7]:
DHS_CSV_PATH = '/root/Datasets/SelectedClusters/dataset_clean.csv'

Changing the .csv File (income -> wealthpooled , deleting literacy and longevity)

In [8]:
dhs_df = pd.read_csv(DHS_CSV_PATH, float_precision='high')
dhs_df = dhs_df.drop(columns = ['literacy','longevity'])
dhs_df = dhs_df.rename(columns = {'income':'wealthpooled'})

Verifying the new DataFrame Created

In [9]:
dhs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20438 entries, 0 to 20437
Data columns (total 6 columns):
country         20438 non-null object
lon             20438 non-null float64
lat             20438 non-null float64
wealthpooled    20438 non-null float64
year            20438 non-null int64
TYPE            20438 non-null object
dtypes: float64(3), int64(1), object(2)
memory usage: 958.2+ KB

In [10]:
dhs_df.head()

  country        lon        lat  wealthpooled  year   TYPE
0  brazil -60.100669 -12.772811      0.628482  2010  URBAN
1  brazil -48.270235  -7.218174      0.520860  2010  URBAN
2  brazil -48.210048  -7.157114      0.580544  2010  URBAN
3  brazil -49.162132 -11.892742      0.476975  2010  URBAN
4  brazil -48.468856  -8.062309      0.543212  2010  URBAN

Saving the new .csv file (dataset_clean_2.csv -> only income indicator)

In [24]:
dhs_df.to_csv("dataset_clean_2.csv",index=False)

In [25]:
!mv dataset_clean_2.csv "/root/Datasets/SelectedClusters/"

## Repeating the Process for Longevity

In [16]:
DHS_CSV_PATH = '/root/Datasets/SelectedClusters/dataset_clean.csv'

In [ ]:
dhs_df = pd.read_csv(DHS_CSV_PATH, float_precision='high')
dhs_df = dhs_df.drop(columns = ['literacy','income'])
dhs_df = dhs_df.rename(columns = {'longevity':'wealthpooled'})

In [17]:
dhs_df.to_csv("dataset_clean_3.csv",index=False)

In [18]:
!mv dataset_clean_3.csv "/root/Datasets/SelectedClusters/"

## Repeating the Process for Literacy

In [13]:
DHS_CSV_PATH = '/root/Datasets/SelectedClusters/dataset_clean.csv'
dhs_df = pd.read_csv(DHS_CSV_PATH, float_precision='high')
dhs_df = dhs_df.drop(columns = ['longevity','income'])
dhs_df = dhs_df.rename(columns = {'literacy':'wealthpooled'})

In [14]:
dhs_df.to_csv("dataset_clean_4.csv",index=False)

In [15]:
!mv dataset_clean_4.csv "/root/Datasets/SelectedClusters/"